# Ignore the virtual environment folder
venv/
.venv

# MacOS specific files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Data file
jane-street-real-time-market-data-forecasting